.git
player/
backup/
corpses/
log/
src/*.o
src/smaug
src/shutdown.txt
system/playerdata.db
system/playerdata.db-shm
system/playerdata.db-wal
system/WIZLIST
system/boot.txt
system/bugs.txt
system/economy.txt
system/time.dat
system/usage.txt
gods/
